@charset "utf-8";

/**---------首页------------**/
.banner_box{width:100%;margin-top:0px;text-align:center; position:relative}
.banner_box img{vertical-align:middle;}
.banner_box ul li{ position:relative}

/**---------登录页------------**/ 
.loginbg{ background:url(../images/login_bg.jpg) bottom #131105 no-repeat; background-size:cover}
.loginbg2{ background:url(../images/login_bg2.jpg) bottom #131105 no-repeat; background-size:cover}
.login_top{ line-height:38px; text-align:center; width:100%; background:#000000; color:#ccc; font-size:14px; }
.login_con{ padding-top:40%; padding-left:10%; padding-right:10%; overflow:hidden}
.login_footer{ position:fixed; bottom:10px; font-size:12px; color:#ccc; width:100%; left:0; text-align:center; line-height:20px}
.login_footer a{ color:#C58A0C}
.login_con ul li{ margin:10px 0px; overflow:hidden; width:100%; padding-bottom:10px;  margin-bottom:30px;line-height:30px;}
.login_con ul li i{ color:#fff; float:left; font-size:20px; padding-right:8px}
.login_con ul li.borline{ border-bottom:1px solid #BCB8AE}
.login_con ul li input[type=text]{ background:none; line-height:30px; color:#fff; font-size:15px; border:0; width:60%}
.login_con ul li input[type=password]{ background:none; line-height:30px; color:#fff; font-size:15px; border:0; width:60%}
a.get_yzm{ float:right; width:70px; height:30px; line-height:30px; text-align:center; color:#fff; background:#C64C4C; font-size:14px; border-radius:3px;}
a.login_btn{ width:100%; height:40px; line-height:40px; border-radius:40px; text-align:center; font-size:16px; color:#fff; margin-top:10px; background:#CFAA51; text-align:center; display:block}
a:hover.login_btn{ background:#C64C4C; }
.imenu{ padding:10px 10px; overflow:hidden}
.imenu a{ float:left; width:46%; margin:0px 2%; color:#fff; height:76px; overflow:hidden; padding:0;font-size:16px;}
.imenu a dl{   width:100%; height:76px; color:#fff; background:#CFAA51; font-size:16px; border-radius:5px; text-align:center; overflow:hidden}
.imenu a:nth-child(2) dl{ background:#C64C4C}
.imenu a dl dt{ font-size:30px; padding-top:5px; height:30px;   padding-bottom:8px; color:#fff; }
.imenu a dl dt i{ color:#fff;  font-size:30px;   }
.imenu a dl dd{ color:#fff}
.combox{ background:#fff; border-top:1px solid #EAEAEA; overflow:hidden}
.itith{ color:#333; height:36px; line-height:36px; text-indent:10px; line-height:36px; font-weight:100; border-bottom:1px solid #EAEAEA; font-size:14px; }

.iprolist dl{ padding:10px; overflow:hidden; border-bottom:1px solid #E5E4E4}
.iprolist dl dt{ float:left}
.iprolist dl dt img{ width:99px; height:99px; padding-right:10px}
.iprolist dl dd h3{ font-size:14px; color:#333; font-weight:100; padding-bottom:5px}
.iprolist dl dd h3 a{ color:#333;}
.ipro_time,.ipro_price,.ipro_adress{ font-size:12px; line-height:20px; color:#999; height:20px; overflow:hidden}
.ipro_time i{ color:#E7B53E; padding-right:2px; font-size:13px;}
.ipro_price i{ color:#C94E4E; padding-right:2px; font-size:14px;}
.ipro_adress i{ color:#2D9AEE; padding-right:2px; font-size:14px;}
.ipro_price {color:#C94E4E;}
.ipro_adress{ color:#676767}

.pro_tit{ background:#F3F1EE; border-bottom:1px solid #DDDDDD; overflow:hidden; padding:10px 0px; line-height:20px; height:20px; font-size:14px;}
.pro_tit ul li{ float:left; width:49%; text-align:center}
.pro_tit ul li:first-child{ border-right:1px solid #D3CCC2}
.pro_tit ul li a{ display:block;  color:#3D3D3D}
.pro_tit ul li.cur a{ color:#B28B2D}
.overflowy{ background:#000; opacity:0.5; width:100%; height:100%; left:0; top:0px; z-index:998; position:fixed; display:none}
.pro_tc{ background:#fff;   background:#fff; position:fixed; left:0px; bottom:0px; right:0px; z-index:9999; display:none;max-height:300px;overflow-y:auto; }
.pro_tc ul li{ text-align:center; font-size:15px; line-height:40px; border-bottom:1px solid #C6C7CC;}
.pro_tc ul li a{ display:block; line-height:40px; color:#333030}
.pro_tc ul li.cur{ background:#CFAA51; color:#fff}
.pro_tc ul li.cur a{color:#fff}

.user_top{ padding:25px 0px; overflow:hidden; text-align:center; background:url(../images/user_bg.jpg) no-repeat; background-size:cover}
.user_top dl dt img{ width:90px; height:90px; border:3px solid #E1DFEB; border-radius:90px;}
.user_top dl dd{ color:#000; font-size:16px}
.user_top.bg2{ background:url(../images/contact_bg.jpg) no-repeat;background-size:cover}

.user_list{ background:#fff; padding:0px 15px; overflow:hidden; margin-top:10px}
.user_list ul li{ border-bottom:1px solid #ddd; line-height:24px; height:40px; overflow:hidden; position:relative}
.user_list ul li:last-child{ border-bottom:0}
.user_list ul li i{ font-size:20px; padding-right:5px}
.user_list ul li a{ color:#4A4A4A; display:block; width:100%; height:100%; padding:10px 0px;}
.user_list ul li a:after{ content:""; font-family:"iconfont" !important; float:right; color:#aaa; position:absolute; right:0px; top:20px; line-height:30px}
.user_list.contactlist ul li a:after{ display:none}
.fankui{ padding:20px; overflow:hidden}
.fankui textarea{ border:1px solid #E2E3E5; background:#fff; border-radius:5px; height:180px; width:95%; box-shadow:1px 1px 3px #eee inset; line-height:24px; padding:10px}
.xieyi{ padding:20px; overflow:hidden; font-size:14px; line-height:24px; color:#787878}
.xieyi p{ padding-bottom:15px;}
.order_txt{ border-bottom:1px dotted #D9D8D8; line-height:26px; width:100%; overflow:hidden; color:#B5B5B5; font-size:12px;}
.order_txt em{ color:#C64C4C}


.order_box{ padding:0px 15px; overflow:hidden; border-bottom:1px solid #E4E3E3}
.order_box .order_txt{ padding:5px 0px; font-size:12px}
.order_box .order_txt span{font-size:12px} 


.order_box dl{ padding:10px; overflow:hidden; }
.order_box dl dt{ float:left}
.order_box dl dt img{ width:76px; height:76px; padding-right:10px}
.order_box dl dd h3{ font-size:13px; color:#333; font-weight:100; padding-bottom:5px}
.order_box dl dd h3 a{ color:#333;}
.order_box dl .ipro_time i{ color:#AFAFAF;  }
.order_box dl .ipro_time,.order_box dl .ipro_adress{ font-size:13px;}
.order_box dl .ipro_adress,.order_box dl .ipro_adress i{ color:#CFAA51}
.error{ color:#E3473B!important}
.order_box dl .error{ font-size:13px;}
.order_detailtips{ background:#fff; line-height:30px; padding:5px 15px; overflow:hidden;   margin-bottom:10px; color:#6E6E6E; font-size:13px; line-height:30px}
.order_detailtips span{line-height:30px}
.fl{ float:left}
.order_detailbox{ padding:10px 15px; overflow:hidden; background:#fff; margin-top:10px; color:#727171; line-height:30px}
.order_detailbox h3{ font-size:16px; border-bottom:1px solid #EBEBEB; font-weight:100; color:#000; line-height:40px}
.order_detailboxc{ padding:15px 0px; font-size:13px; line-height:30px}
.order_detailboxc p{ line-height:30px}


.order_footer{ position:fixed; left:0px; right:0px; bottom:0px}
a.order_footerbtn{ background:#CFAA51; height:40px; line-height:40px; text-align:center; color:#fff; font-size:16px; width:65%; float:left}
a.order_footerbtn.bg2{ float:left; background:#C64C4C; width:35%}
a.order_fee{ background:#fff;border-top:1px solid #CFAA51; height:40px; line-height:40px; text-align:center; color:#fff; font-size:16px; width:65%; float:left;}

.detail_icon{ position:absolute; bottom:20px; left:10%; right:10%; width:80%; z-index:999}
.detail_icon dl{ float:left; width:33.3%; text-align:center; color:#CFCFD3; font-size:13px}
.detail_icon dl dt{ width:35px; height:35px; line-height:33px; text-align:center; color:#fff; background:#E3A81C; opacity:0.9; font-size:16px; border-radius:60px; font-weight:100; display:block; margin:0 auto; margin-bottom:5px}
.detail_icon a:nth-child(2) dl dt{ background:#0888EB}
.detail_icon a:nth-child(3) dl dt{ background:#AA2F33}
.detail_icon dl dd{ font-size:12px;}
.detai_info{ background:#fff; padding:10px 15px; overflow:hidden}
.detai_info h3{ font-size:16px; color:#1A1B1F; font-weight:100; border-bottom:1px dotted #ddd; padding-bottom:8px; line-height:24px;}
.detai_info2{ padding:10px 0px; overflow:hidden; border-bottom:1px dotted #ddd;}
.detai_info2 b{ font-size:15px; color:#757CA8}
.detai_info2 .fl{ color:#E44949; font-size:12px;padding-top:2px; padding-left:5px}
.detai_info2 .fr{ color:#1A1B1F; padding-left:7px;font-size:12px;padding-top:2px;}
.detai_info2 .fr i{ color:#888; font-size:14px;}
.detai_info3{ padding:10px 0px; color:#898BA0; font-size:14px; padding-bottom:0}

.detai_box{ background:#fff; padding:10px 15px; overflow:hidden; margin-top:10px; color:#7D7D7D; line-height:22px}
.detai_box img{width:100%;}
.detai_boxtit{  padding:5px 0px; overflow:hidden; font-size:12px; }
.detai_boxtit h3{ font-size:15px; color:#333; font-weight:100; float:left}
.detai_boxtit  em{ float:right} 
.detai_boxc{ padding:10px 0px; overflow:hidden;border-top:1px dotted #CDCDCD;}
.course_txt{ font-size:12px;}
.course_time ul li{ margin-top:10px; height:36px; line-height:36px; text-align:center; font-size:14px; background:#EBEBEB; border-radius:5px;}
.course_time ul li.cur{ background:#CFAA51; color:#fff}
.course_time ul li a{ display:block; line-height:36px;}
.course_time ul li.cur a{ color:#fff}

.detail_xc{ border:1px solid #DADADA; border-radius:3px;}
.detail_xc dl dt{ padding:6px 10px; line-height:26px; border-bottom:1px solid #E1E1E1; cursor:pointer; position:relative}
.detail_xc dl dd{ background:#FDF7EA; font-size:12px; color:#7D7D7D; padding:10px;border-bottom:1px solid #E1E1E1; display:none }
.detail_xc dl dt:after{ content:""; font-family:"iconfont" !important; float:right; color:#A8A8A8; line-height:30px; position:absolute; right:10px; top:13px;}
.detail_xc dl.cur dt:after{content:""; color:#fff}
.detail_xc dl.cur dt{ background:#CFAA51; color:#fff; }
.detail_xc dl.cur dd{ display:block}
.detai_boxtit em:after{ content:""; font-family:"iconfont" !important; float:right; color:#A8A8A8; font-size:16px;}
.detai_boxtit.bg2  em:after{ content:"";}
.detail_xc dl  dt em{ display:none}
.detai_boxtit em b{ display:none}

.shuom_tc{ background:#fff;   position:fixed; left:2%; top:20%; right:2%; z-index:9999;  border-radius:5px; padding:10px 20px; display:none;}
.shuom_tc .close{ font-size:16px; color:#3A3A3A; right:20px; top:20px; float:right; position:absolute; cursor:pointer; }
.shuom_tc h3{ text-align:center; font-size:16px; color:#333; line-height:30px; padding-bottom:10px; font-weight:100}
.shuom_tc_txt{ color:#67646C; font-size:12px; line-height:20px;}
.shuom_tc_txt .detailed{color:#67646C; font-size:12px; line-height:20px;max-height:220px;overflow:auto;}
.shuom_tc_txt p{ padding-bottom:10px; line-height:24px; font-size:12px;}

.baoming_tc{background:#fff;   background:#fff; position:fixed; left:0px; bottom:0px; right:0px; z-index:9999; display:none  }
a.baoming_btn{ width:100%; line-height:40px; text-align:center; font-size:16px; color:#fff; background:#BD9432; display:block}
.baoming_tctit{ padding:15px 20px; overflow:hidden; border-bottom:1px solid #E5E5E5}
.baoming_tctit h3{ float:left; font-size:15px; font-weight:100; color:#333}
.baoming_tctit i{  color:#666; font-size:14px;   position:absolute; right:15px; top:20px; margin-top:10px  }
.baoming_tc_con{ padding:20px 20px; overflow:hidden; line-height:30px; color:#898BA0}
.numitem{  overflow:hidden; height:32px;line-height:32px; color:#898BA0}
.num{ float:left; border:1px solid #CCCCCC; background:#fff; width:110px; height:30px; overflow:hidden}
.num .num_plus{ float:left; width:25px; height:30px; text-align:center; line-height:30px; font-size:15px; background:#E7E7E7; border-right:1px solid #ccc}
.num input{ width:58px; line-height:30px; border:0px; background:none; text-align:center; float:left;order-right:1px solid #ccc}
.baoming_tc_con em{ color:#E44949; font-weight:700; font-size:16px;}


.chognzhi{ float:right; background:#CFAA51; width:80px; text-align:center; color:#fff; line-height:26px; border-radius:3px; font-size:14px;}

.user_info dl{ margin:10px; overflow:hidden; border:1px solid #d8d3c6; border-radius:5px;}
.user_info dl dt{ background:#FDF7EA; border-bottom:1px solid #ddd; padding:5px 20px; color:#333; font-size:15px; font-weight:bold}
.user_info dl dd{ margin:0px 10px;   overflow:hidden}
.user_info dl dd:last-child input{ border:0}
.user_info dl dd input{ width:100%; border:0; line-height:30px;padding:3px 10px;border-bottom:1px solid #ddd;}

.pingjia dl{ padding:15px; overflow:hidden; border-bottom:1px solid #ddd; background:#fff}
.pingjia dl dt{ float:left; padding-right:10px}
.pingjia dl dt img{ width:65px; height:65px; border-radius:50%; border:2px solid #ddd}
.pingjia dl dd h3{ font-weight:100; padding-bottom:5px; overflow:hidden}
.pingjia dl dd h3 b{ float:left; font-size:14px; font-weight:100}
.pingjia dl dd h3 span{ float:right; font-size:12px; color:#999; font-weight:100}
.pingjia dl dd p{ font-size:12px; line-height:18px; color:#666}
.pingjiak{ position:fixed; bottom:0px; left:0px; right:0px; height:40px; background:#fff; border-top:1px solid #ddd}
.pingjiak input[type=text]{ width:80%; border:0px; background:none; line-height:38px; text-indent:10px}
a.tijiao_btn{ float:right; background:#CFAA51; text-align:center; color:#fff; line-height:40px; width:20%; font-size:14px;}

.error_input{ border-bottom:1px solid #ff0000}

.line_m{text-decoration:line-through}
.float_div{
 position:absolute;
width:30px;
height:30px;
right:10px;
top:5px;
z-index:100;
 
}
