<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.shop.dao.site.impl.SiteCodeDistrictMapper">
  <resultMap id="BaseResultMap" type="com.lt.shop.dao.admin.entity.def.CodeDistrict">
    <id column="DistrictID" jdbcType="BIGINT" property="districtid" />
    <result column="DistrictName" jdbcType="VARCHAR" property="districtname" />
    <result column="CityID" jdbcType="BIGINT" property="cityid" />
    <result column="DateCreated" jdbcType="TIMESTAMP" property="datecreated" />
    <result column="DateUpdated" jdbcType="TIMESTAMP" property="dateupdated" />
  </resultMap>
  <sql id="Base_Column_List">
    DistrictID, DistrictName, CityID, DateCreated, DateUpdated
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_district
    where DistrictID = #{districtid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from s_district
    where DistrictID = #{districtid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lt.shop.dao.admin.entity.def.CodeDistrict">
    insert into s_district (DistrictID, DistrictName, CityID, 
      DateCreated, DateUpdated)
    values (#{districtid,jdbcType=BIGINT}, #{districtname,jdbcType=VARCHAR}, #{cityid,jdbcType=BIGINT}, 
      #{datecreated,jdbcType=TIMESTAMP}, #{dateupdated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lt.shop.dao.admin.entity.def.CodeDistrict">
    insert into s_district
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="districtid != null">
        DistrictID,
      </if>
      <if test="districtname != null">
        DistrictName,
      </if>
      <if test="cityid != null">
        CityID,
      </if>
      <if test="datecreated != null">
        DateCreated,
      </if>
      <if test="dateupdated != null">
        DateUpdated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="districtid != null">
        #{districtid,jdbcType=BIGINT},
      </if>
      <if test="districtname != null">
        #{districtname,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null">
        #{cityid,jdbcType=BIGINT},
      </if>
      <if test="datecreated != null">
        #{datecreated,jdbcType=TIMESTAMP},
      </if>
      <if test="dateupdated != null">
        #{dateupdated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lt.shop.dao.admin.entity.def.CodeDistrict">
    update s_district
    <set>
      <if test="districtname != null">
        DistrictName = #{districtname,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null">
        CityID = #{cityid,jdbcType=BIGINT},
      </if>
      <if test="datecreated != null">
        DateCreated = #{datecreated,jdbcType=TIMESTAMP},
      </if>
      <if test="dateupdated != null">
        DateUpdated = #{dateupdated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where DistrictID = #{districtid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lt.shop.dao.admin.entity.def.CodeDistrict">
    update s_district
    set DistrictName = #{districtname,jdbcType=VARCHAR},
      CityID = #{cityid,jdbcType=BIGINT},
      DateCreated = #{datecreated,jdbcType=TIMESTAMP},
      DateUpdated = #{dateupdated,jdbcType=TIMESTAMP}
    where DistrictID = #{districtid,jdbcType=BIGINT}
  </update>
</mapper>