<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.shop.dao.admin.impl.custom.CodeReadProvinceMapper">
  <resultMap id="BaseResultMap" type="com.lt.shop.dao.admin.entity.def.CodeProvince">
    <id column="ProvinceID" jdbcType="BIGINT" property="provinceid" />
    <result column="ProvinceName" jdbcType="VARCHAR" property="provincename" />
    <result column="DateCreated" jdbcType="TIMESTAMP" property="datecreated" />
    <result column="DateUpdated" jdbcType="TIMESTAMP" property="dateupdated" />
  </resultMap>
  <sql id="Base_Column_List">
    ProvinceID, ProvinceName, DateCreated, DateUpdated
  </sql>
  <select id="list" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_province
  </select>
</mapper>