<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.shop.dao.admin.impl.custom.CodeReadDistrictMapper">
  <resultMap id="BaseResultMap" type="com.lt.shop.dao.admin.entity.def.CodeDistrict">
    <id column="DistrictID" jdbcType="BIGINT" property="districtid" />
    <result column="DistrictName" jdbcType="VARCHAR" property="districtname" />
    <result column="CityID" jdbcType="BIGINT" property="cityid" />
    <result column="DateCreated" jdbcType="TIMESTAMP" property="datecreated" />
    <result column="DateUpdated" jdbcType="TIMESTAMP" property="dateupdated" />
  </resultMap>
  <sql id="Base_Column_List">
    DistrictID, DistrictName, CityID, DateCreated, DateUpdated
  </sql>
  <select id="list" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_district
  </select>
</mapper>