<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.shop.dao.admin.impl.def.OrderMapper">
  <resultMap id="BaseResultMap" type="com.lt.shop.dao.admin.entity.def.Order">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="deliver_status" jdbcType="INTEGER" property="deliverStatus" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="freight" jdbcType="DECIMAL" property="freight" />
    <result column="receipt_name" jdbcType="VARCHAR" property="receiptName" />
    <result column="receipt_phone" jdbcType="VARCHAR" property="receiptPhone" />
    <result column="province_id" jdbcType="BIGINT" property="provinceId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city_id" jdbcType="BIGINT" property="cityId" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district_id" jdbcType="BIGINT" property="districtId" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="add_time" jdbcType="BIGINT" property="addTime" />
    <result column="amount_refund" jdbcType="DECIMAL" property="amountRefund" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_sn, order_status, pay_status, deliver_status, user_id, amount, freight, 
    receipt_name, receipt_phone, province_id, province, city_id, city, district_id, district, 
    address, add_time, amount_refund
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lt_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from lt_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lt.shop.dao.admin.entity.def.Order">
    insert into lt_order (id, order_sn, order_status, 
      pay_status, deliver_status, user_id, 
      amount, freight, receipt_name, 
      receipt_phone, province_id, province, 
      city_id, city, district_id, 
      district, address, add_time, 
      amount_refund)
    values (#{id,jdbcType=BIGINT}, #{orderSn,jdbcType=VARCHAR}, #{orderStatus,jdbcType=INTEGER}, 
      #{payStatus,jdbcType=INTEGER}, #{deliverStatus,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, 
      #{amount,jdbcType=DECIMAL}, #{freight,jdbcType=DECIMAL}, #{receiptName,jdbcType=VARCHAR}, 
      #{receiptPhone,jdbcType=VARCHAR}, #{provinceId,jdbcType=BIGINT}, #{province,jdbcType=VARCHAR}, 
      #{cityId,jdbcType=BIGINT}, #{city,jdbcType=VARCHAR}, #{districtId,jdbcType=BIGINT}, 
      #{district,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{addTime,jdbcType=BIGINT}, 
      #{amountRefund,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.lt.shop.dao.admin.entity.def.Order">
    insert into lt_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderSn != null">
        order_sn,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="payStatus != null">
        pay_status,
      </if>
      <if test="deliverStatus != null">
        deliver_status,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="freight != null">
        freight,
      </if>
      <if test="receiptName != null">
        receipt_name,
      </if>
      <if test="receiptPhone != null">
        receipt_phone,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="districtId != null">
        district_id,
      </if>
      <if test="district != null">
        district,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="addTime != null">
        add_time,
      </if>
      <if test="amountRefund != null">
        amount_refund,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderSn != null">
        #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null">
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="deliverStatus != null">
        #{deliverStatus,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="freight != null">
        #{freight,jdbcType=DECIMAL},
      </if>
      <if test="receiptName != null">
        #{receiptName,jdbcType=VARCHAR},
      </if>
      <if test="receiptPhone != null">
        #{receiptPhone,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null">
        #{districtId,jdbcType=BIGINT},
      </if>
      <if test="district != null">
        #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=BIGINT},
      </if>
      <if test="amountRefund != null">
        #{amountRefund,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lt.shop.dao.admin.entity.def.Order">
    update lt_order
    <set>
      <if test="orderSn != null">
        order_sn = #{orderSn,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="payStatus != null">
        pay_status = #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="deliverStatus != null">
        deliver_status = #{deliverStatus,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="freight != null">
        freight = #{freight,jdbcType=DECIMAL},
      </if>
      <if test="receiptName != null">
        receipt_name = #{receiptName,jdbcType=VARCHAR},
      </if>
      <if test="receiptPhone != null">
        receipt_phone = #{receiptPhone,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=BIGINT},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="districtId != null">
        district_id = #{districtId,jdbcType=BIGINT},
      </if>
      <if test="district != null">
        district = #{district,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null">
        add_time = #{addTime,jdbcType=BIGINT},
      </if>
      <if test="amountRefund != null">
        amount_refund = #{amountRefund,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lt.shop.dao.admin.entity.def.Order">
    update lt_order
    set order_sn = #{orderSn,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=INTEGER},
      pay_status = #{payStatus,jdbcType=INTEGER},
      deliver_status = #{deliverStatus,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=BIGINT},
      amount = #{amount,jdbcType=DECIMAL},
      freight = #{freight,jdbcType=DECIMAL},
      receipt_name = #{receiptName,jdbcType=VARCHAR},
      receipt_phone = #{receiptPhone,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=BIGINT},
      province = #{province,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=BIGINT},
      city = #{city,jdbcType=VARCHAR},
      district_id = #{districtId,jdbcType=BIGINT},
      district = #{district,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=BIGINT},
      amount_refund = #{amountRefund,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>